In [1]:
import pandas as pd

from my_utils import *

In [2]:
# read a generic data file in csv format

FILE_NAME = "data/RMCAB_air_quality_sensor_data.csv"

raw_data = pd.read_csv(FILE_NAME)

raw_data.head(10)

,PM10,PM2.5,NO,NO2,NOX,CO,OZONO,Station,DateTime
0,56.6,32.7,7.504,15.962,23.493,0.44924,2.431,USM,01-01-2021 01:00
1,59.3,39.3,16.560,17.866,34.426,0.69832,1.121,USM,01-01-2021 02:00
2,96.4,70.8,22.989,17.802,40.791,0.88243,1.172,USM,01-01-2021 03:00
3,108.3,81.0,3.704,9.886,13.591,0.29549,6.565,USM,01-01-2021 04:00
4,87.7,56.1,2.098,9.272,11.371,0.16621,9.513,USM,01-01-2021 05:00
5,74.4,38.6,2.249,11.064,13.313,0.22534,5.466,USM,01-01-2021 06:00
6,60.4,27.2,11.490,14.675,26.165,0.41357,2.467,USM,01-01-2021 07:00
7,51.9,29.5,5.864,7.348,13.212,0.20784,10.800,USM,01-01-2021 08:00
8,38.1,21.6,3.506,4.266,7.773,NaN,17.161,USM,01-01-2021 09:00
9,28.9,23.1,4.343,3.866,8.209,NaN,19.674,USM,01-01-2021 10:00

#### Plot histo for a generic column chosen

In [4]:
# 

BINS = 32

create_histogram_plot(raw_data, BINS)

interactive(children=(Dropdown(description='Columns', options=('PM10', 'PM2.5', 'NO', 'NO2', 'NOX', 'CO', 'OZOâ€¦